<div ng-app="shortlyApp">
  <h1>Shortly</h1>
  <div class="navigation">
    <ul>
      <li><a href="#" class="index selected">All Links
      </a></li>
      <li><a href="#/create" class="create">
        Shorten
      </a></li>
    </ul>
  </div>
  <div id="container" ng-view>
  </div>
</div>